@font-face {
    font-family: 'companyLogoFont';
    src: url("/assets/fonts/RubikMonoOne-Regular.ttf") format("truetype");
}
@font-face {
    font-family: 'categoryItemFont';
    src: url("/assets/fonts/OrelegaOne-Regular.ttf") format("truetype");
}