/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.o-standard-link { 
    text-decoration: none;
    text-align: center;
}
.m-1 { 
    margin: 1rem;
}
.mr-1 { 
    margin-right: 1rem;
}
.ml-1 { 
    margin-left: 1rem;
}
.mrl-1 { 
    margin-right: 1rem;
    margin-left: 1rem;
}
.mtb-1 { 
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.m-2 { 
    margin: 2rem;
}
.mr-2 { 
    margin-right: 2rem;
}
.ml-2 { 
    margin-left: 2rem;
}
.mrl-2 { 
    margin-right: 2rem;
    margin-left: 2rem;
}
.mtb-2 { 
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.m-5 { 
    margin: 5rem;
}
.mr-5 { 
    margin-right: 5rem;
}
.ml-5 { 
    margin-left: 5rem;
}
.mrl-5 { 
    margin-right: 5rem;
    margin-left: 5rem;
}
.mtb-5 { 
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.p-1 { 
    padding: 1rem;
}
.pr-1 { 
    padding-right: 1rem;
}
.pl-1 { 
    padding-left: 1rem;
}
.prl-1 { 
    padding-right: 1rem;
    padding-left: 1rem;
}
.ptb-1 { 
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.p-2 { 
    padding: 2rem;
}
.pr-2 { 
    padding-right: 2rem;
}
.pl-2 { 
    padding-left: 2rem;
}
.prl-2 { 
    padding-right: 2rem;
    padding-left: 2rem;
}
.ptb-2 { 
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.p-5 { 
    padding: 5rem;
}
.pr-5 { 
    padding-right: 5rem;
}
.pl-5 { 
    padding-left: 5rem;
}
.prl-5 { 
    padding-right: 5rem;
    padding-left: 5rem;
}
.ptb-5 { 
    padding-top: 5rem;
    padding-bottom: 5rem;
}
mat-card:nth-child(even) { 
 margin-left: 5px;
 margin-right: 5px;
}
mat-card:nth-child(odd) { 

}
.full-height{
    height:100%;
}
.auto-margin {
    margin: auto;
}