<div fxLayout="column" fxFlexFill fxLayoutAlign="space-between stretch" class="home-main-div">
    <div fxFlex="100px" fxFlex.xs="200px" fxLayout="row" fxLayout.xs="column" flexLayoutAlign="center center">
        <div fxFlex fxLayout="row" fxLayoutAlign="start center" class="top-div-left ml-1">
            <span class="company-logo">Resto Cafe</span>
        </div>
        <div fxFlex="200px" fxLayout="row" fxHide.xs class="top-div-right" fxLayoutGap="20px">
            <div fxLayout="column" fxFlex="50" fxLayoutAlign="center stretch"><a class="o-standard-link"
                    routerLink="/auth/login">Sign In</a></div>
            <div fxLayout="column" fxFlex="50" fxLayoutAlign="center stretch"><a class="o-standard-link"
                    routerLink="/auth/register">Register</a></div>
        </div>
    </div>
    <div fxFlex fxLayoutAlign="center stretch" fxLayout.xs="column">
        <div fxFlex="30" fxLayout="row" fxLayoutAlign="center center">
            <div class="animation-text m-5" fxFlex="70">
                <h3>Explore our coffee</h3>
                <p class="coffee-decription">Everything we do is in the name of coffee. This is the culmination of it
                    all—our pursuit of the highest state of coffee experience, our relentless and ongoing innovation—all
                    captured in your cup.</p>
                <div class="cta-wrapper">
                    <a title="Explore our coffee" routerLink="/orders"><span>Explore ourcoffee</span></a>
                </div>
            </div>
        </div>
        <mat-divider vertical style="height:100px"></mat-divider>
        <div fxFlex="70" fxLayout="row" fxLayoutAlign="center center" class="bottom-div">
        </div>
    </div>
</div>