.bottom-div {
    background-image: url('https://images.getbento.com/accounts/ded52d79832218f313843dbd37f0252e/media/enEsIMAUQcC31KWaWzgh_Homepage%201.jpg?w=1200&fit=max&auto=compress,format');
}
.company-logo {
    font-family: 'companyLogoFont';
    font-size: 50px;
    font-weight: 800;
}
.image-size-t1 {
    z-index: 3;
    top: -228px;
    right: 88px;
    width: 100%;
}
.image-size-t2 {
    z-index: 1;
    width: 100%;
}
.image-size-t3 {
    z-index: 2;
    top: -17px;
    left: 59px;
    width: 100%;
}
.image-stock {
    position: relative;
}
.image-t1 {
    position: absolute;
}
.image-t2 {
    position: absolute;
}
.image-t3 {
    position: absolute;
}
img {
    width: 100%;
    height: 100%; 
    object-fit: contain;
}