<div fxFlex="100" *ngIf="loading" class="empty-data">loading...</div>
<div fxFlex="100" fxLayout="column" fxFlexFill fxLayoutAlign="space-between stretch" [ngClass.xs]="'orders-main-div-xs'" [ngClass.gt-xs]="'orders-main-div'"
    *ngIf="restaurants[0] && !loading">
    <div fxFlex="10" fxLayout="column" flexLayoutAlign="center center">
        <div fxFlex fxLayout="row" fxLayoutAlign.xs="space-between center" fxLayoutAlign.gt-xs="start center" class="top-div-left ml-1" [ngClass.xs]="'m-1'">
            <a routerLink="/auth/home"><button mat-icon-button class="mrl-5" fxHide.gt-xs style="color:#dbdbdb;" ><mat-icon>arrow_back</mat-icon></button></a>
            <span [ngClass.gt-xs]="'company-logo'" [ngClass.xs]="'company-logo-xs'"><small>{{restaurants[0].branch_name}}</small></span>
            <button mat-button fxHide.gt-xs>My Orders <mat-icon [matBadge]="totalOrderCount" matBadgeColor="warn">shopping_cart</mat-icon></button>
        </div>
        <div fxFlex fxLayout="row" fxLayoutAlign="start center" [ngClass.xs]="'top-div-left ml-1 orders-main-div-xs'" [ngClass.gt-xs]="'orders-main-div'" fxHide.xs>
            <button mat-button [matMenuTriggerFor]="categoryMenu">Category</button>
            <mat-menu #categoryMenu="matMenu" xPosition="after">
                <button mat-menu-item *ngFor="let category of menuDetails.categories"
                    (click)="getDishesByCategory(category)">
                    {{ category.name }}
                </button>
            </mat-menu>
            <button mat-button [matMenuTriggerFor]="dishesMenu">Dishes</button>
            <mat-menu #dishesMenu="matMenu" xPosition="after">
                <button mat-menu-item *ngFor="let dish of menuDetails.dishes">
                    {{ dish.name }}
                </button>
            </mat-menu>
            <button mat-button [matMenuTriggerFor]="orderMenu">My Orders <mat-icon matBadge="0" matBadgeColor="warn">
                    shopping_cart</mat-icon></button>
            <mat-menu #orderMenu="matMenu" xPosition="after">
                <button mat-menu-item *ngFor="let order of menuDetails.orders">
                    {{ order.name }}
                </button>
            </mat-menu>
        </div>
        <div fxHide.gt-xs>
            <mat-tab-group (selectedTabChange)="getDishesByCategoryTab($event)">
                <mat-tab  *ngFor="let category of menuDetails.categories; let index = index" [label]="category.name"></mat-tab>
            </mat-tab-group>
        </div>
    </div>
    <div fxLayout="column" fxFlex="90">
        <img fxShow.gt-xs fxHide.xs class="bg-img" *ngIf="restaurants[0] && restaurants[0].restaurant_image && isRestoImageAvailable"
            [src]="restaurants[0].restaurant_image" (error)="setDefaultPic()">
        <img fxShow.gt-xs fxHide.xs class="bg-img" *ngIf="!restaurants[0] || !restaurants[0].restaurant_image || !isRestoImageAvailable"
            src="https://images.getbento.com/accounts/14fe9d5152238a35546e97a694b63353/media/images/36320SPRING_LETTUCES.jpg?w=1800&fit=max&auto=compress,format">
        <div *ngIf="dishes" fxLayout="row wrap" fxFlex="100" fxLayoutAlign="start stretch" class="categ-area">
            <div fxLayout="column" fxFlex="33.3333" fxFlex.xs="100" *ngFor="let dish of dishes; let i = index" class="categ-item-card">
                <mat-card class="m-1 full-height" fxLayout="row">
                    <div fxFlex="10" fxLayout="row" fxLayoutAlign="start start">
                        <div class="outer-frame mt-5"><div class="custom-frame auto-margin"></div></div>
                    </div>
                    <div fxFlex="60" fxLayout="column" fxLayoutAlign="start stretch" >
                        <span fxFlex="20" class="custom-dish-name">{{dish.dish_name}}</span>
                        <div fxFlex="10" fxLayout="row" fxLayoutAlign="space-between stretch"><small class="custom-dish-name">{{dish.dish_currency}} {{dish.dish_price}}</small><small class="custom-dish-name">{{dish.dish_calories}} Calories</small></div>
                        <div fxFlex fxLayout="row" fxLayoutAlign="space-between stretch"><span>{{dish.dish_description}}</span></div>
                        <div fxFlex="85px" fxLayout="row" fxLayoutAlign="space-between stretch"><div class="custom-control-btn mt-5" fxLayout="row" fxLayoutAlign="space-between stretch">
                            <button mat-icon-button color="primary" (click)="decrement(i)" [disabled]="dish.disableDecrement"><mat-icon>remove</mat-icon></button>
                            <div class="auto-margin"><span>{{dish.count}}</span></div>
                            <button mat-icon-button color="primary" (click)="increment(i)"><mat-icon>add</mat-icon></button>
                        </div></div>
                        <div fxFlex="5px" style="color:red" *ngIf="dish.addonCat.length">Customizations available</div>
                    </div>
                    <div fxFlex="30" fxLayout="row" fxLayoutAlign="center center" *ngIf="!showNoImageAvailable()"><img [src]="dish.dish_image" (error)="showNoImageAvailable()"></div>
                    <div fxFlex="30" fxLayout="row" fxLayoutAlign="center center" *ngIf="showNoImageAvailable()"><img src="https://askleo.askleomedia.com/wp-content/uploads/2004/06/no_image-300x245.jpg" (error)="showNoImageAvailable()"></div>
                </mat-card>
            </div>
        </div>
    </div>
</div>