.company-logo {
    font-family: 'companyLogoFont';
    font-size: 50px;
    font-weight: 800;
    color: #fff;
}
.company-logo-xs {
    // font-family: 'companyLogoFont';
    // font-size: 50px;
    margin: 5px;
    font-weight: 800;
    color: rgb(219, 219, 219);
}
.orders-main-div {
    background-color: #000;
    color: #fff;
}
.orders-main-div-xs {
    background-color: #fff;
    color: #000;
}
mat-card:nth-child(even) { 
    margin-left: 5px;
    margin-right: 5px;
   }
.bg-img {
    z-index: 1;
}
bg-img-xs{
    visibility: hidden;
}
.categ-area {
    z-index: 2;
    position: absolute;
    width: 100%;
}
.categ-item-card {
    min-height: 250px;
}
.custom-dish-name {
    font-family: 'categoryItemFont';
}
img {
    width: 100%;
    height: 100%; 
    object-fit: contain;
}
.custom-frame:nth-child(2n) {
    background-color: red;
    border: 1px solid black;
    width: 12px;
    height: 12px;
    border-radius: 10px;
}
.custom-frame:nth-child(2n+1) {
    background-color: #2bca95;
    border: 1px solid black;
    width: 12px;
    height: 12px;
    border-radius: 10px;
}
.custom-control-btn {
    background-color: rgb(20, 155, 20);
    border-radius: 25px;
}
.outer-frame {
    border: 1px solid black;
    width: 15px;
    height: 15px;
}